<form action="/parents/login">
    <div class="mb-3 form-section">
        <label for="first_name">first_name</label>
        <input type="text" name="first_name" id="first_name">
    </div>
    <div class="mb-3 form-section">
        <label for="last_name">last_name</label>
        <input type="text" name="last_name" id="last_name">
    </div>
    <div class="mb-3 form-section">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </div>
    <div class="mb-3 form-section">
        <label for="password">Password</label>
        <input type="text" name="password" id="password">
    </div>
    <div class="mb-3 form-section">
        <label for="confirm_password">Confirm Password</label>
        <input type="text" name="confirm_password" id="confirm_password">
    </div>
    <button>Create a Parent Account</button>
</form>